body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:gray;
 
}
@keyframes changeBackgroundColor {
    0% {
      background-color: #310e83;
    }
    50% {
      background-color: #75065a;
    }
    100% {
      background-color: #e70d7a;
    }
  }
header{
    animation: changeBackgroundColor 7s infinite;
    background-color: black;
    border: solid 1px palevioletred;
}
h1{
    color: white;
    text-align: center;
    padding-top: 20px;
}
.container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.container-descricao{
    display: flex;
    justify-content: space-between;
    text-align: center;
     width: 1100px;
     margin-bottom: 80px;

}


.container-descricao-texto{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 900px;
    margin-left: 30px;
}


.container-descricao,.card2 p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card1{
    display: flex;
    justify-content: center;
    align-items: center;  
}

.container-descricao img {
    width: 370px;
}
.container-card{
    display: flex;
    justify-content: space-between;
    text-align: center;
     width: 1100px;
     margin-bottom: 80px;
}

.container-card img {
    width: 300px;
}
